.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.buttons > * + * {
  margin-left: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
}

/* @media screen and (max-width: 800px) {
  .buttons > * + * {
    margin-left: 0rem;
    margin-top: 1rem;
  }
} */
